absl-py==1.0.0
argon2-cffi 
astunparse==1.6.3
async-generator 
attrs 
backcall 
bleach 
Bottleneck 
Brotli==1.0.9
brotlipy==0.7.0
cachetools==4.2.4
certifi==2021.10.8
cffi 
charset-normalizer==2.0.7
click==8.0.3
colorama 
cycler==0.10.0
dash==2.0.0
dash-bootstrap-components==1.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.1.2
dash-table==5.0.0
debugpy 
decorator 
defusedxml 
entrypoints==0.3
Flask 
Flask-Compress==1.5.0
flatbuffers==2.0
fonttools==4.25.0
future 
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.1
h5py 
idna==3.3
importlib-metadata 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
itsdangerous 
jedi 
Jinja2 
joblib==1.1.0
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets 
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver 
libclang==12.0.0
Markdown==3.3.4
MarkupSafe 
matplotlib 
matplotlib-inline 
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
mock 
munkres==1.1.4
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
numexpr 
numpy 
oauthlib==3.1.1
olefile 
opt-einsum==3.3.0
packaging 
pandas 
pandocfilters 
parso 
patsy==0.5.2
pickleshare 
Pillow==8.4.0
plotly==5.4.0
prometheus-client 
prompt-toolkit 
protobuf==3.19.1
pyarrow==6.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser 
Pygments 
pyparsing 
pyreadline==2.1
pyrsistent 
python-dateutil 
pytz==2021.3
pywin32
pywinpty 
PyYAML==6.0
pyzmq 
qtconsole 
QtPy 
requests==2.26.0
requests-oauthlib==1.3.0
retrying 
rsa==4.7.2
scikit-learn==1.0.1
scipy 
Send2Trash 
sip
six 
sklearn==0.0
statsmodels==0.13.0
tables==3.7.0
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
terminado==0.9.4
testpath 
threadpoolctl==3.0.0
tornado 
traitlets 
typing_extensions==4.0.0
urllib3==1.26.7
wcwidth 
webencodings==0.5.1
Werkzeug 
widgetsnbextension 
wincertstore==0.2
wrapt==1.13.3
XlsxWriter 
zipp 
